{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div class="row">
    <div class="col">
        <div class="notes_list_heading text-center MB-5">
            <h1 class="fs-4">MY NOTES</h1>
        </div>
    </div>
</div>

<div class="row">
    {% for note in app %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">{{ note.title }}</div>
            <div class="card-body">
                <p>{{ note.text | truncatechars:20}}</p>
            </div>
            <div class="card-footer">
            <a href="{% url 'notes.detail' pk=note.id %}" class="btn btn-primary btn-sm">
                View Note
            </a>
        </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}



